<div class="home">
    <div>
    <div class="title-container">
        <div class="title-1">
            Jerahmeel 
        </div>
        <div class="title-2">
            Cosinas
        </div>
        <div class="title-head">
        </div>
        <div class="cover">
            <div class="cover-head"></div>
        </div>
    </div>
    <ul class="tb">
        <li><a href="mailto:me@jerahmeelcosinas.net" class="hint--bottom" data-hint="Mail"><i class="fa fa-envelope"></i></a></li>
        <li><a href="//instagram.com/busstop7448" class="hint--bottom" data-hint="Instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="//github.com/sanisoclem" class="hint--bottom" data-hint="GitHub"><i class="fa fa-github"></i></a></li>
        <li><a href="//soundcloud.com/jerahmeel-verzonilla-cosinas" class="hint--bottom" data-hint="Soundcloud"><i class="fa fa-soundcloud"></i></a></li>
        <li><a href="tel:+65-9026-7517" class="hint--bottom" data-hint="Telephone"><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="javascript:alert('work in progress');" class="hint--bottom" data-hint="Places"><i class="fa fa-map"></i></a></li>
    </ul>
    </div>
</div>